*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.col-sx{
  background-color: black;
}


.profile{
  height: 10px;
  width: 10px;
}
h4{
  color: white;
}
.second-list ul a:hover{
  border-bottom: 1px solid greenyellow;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: gray;
}
a:hover{
  color: white;
}
.playlist-button:hover{
  color: white;
  border-left: 1px solid greenyellow;
}
.sx-list a:hover{
  border-left: 1px solid greenyellow;
  margin-left: 5px;
}
.second-list ul li{
  margin-top: 50px;
  display: inline-block;
}
.slot{
  margin-top: 50px;
  margin-left: 10px;
  
}
footer{
  justify-content: space-between;
}