*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.col-sx{
  background-color: black;
}
.main{
  background-color: #02151d;
}
footer{
  background-color: rgb(54, 54, 54);
  opacity: 1;
}
.btn-mobile{
  display: none;
}

.profile{
  height: 15px;
  width: 15px;
  background-color: gray;
  border-radius: 50%;
}
h4{
  color: white;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: gray;
}
a:hover{
  color: white;
}
.playlist-button:hover{
  color: white;
  border-left: 1px solid greenyellow;
}
.sx-list a:hover{
  border-left: 1px solid greenyellow;
  transition: 0.5s;
  margin-left: 5px;
}
.second-list ul li{
  margin-top: 50px;
  display: inline-block;
}
.slot{
  margin-top: 50px;
  margin-left: 10px;
  
}
footer{
  justify-content: space-between;
}