*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.second-list ul li{
  display: inline-block;
}
.riga{
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
