
/* .logo{
  
  width: 125px;
} */
.logo{
  background-image: url(img/logo.svg);
  background-size: cover;
  background-position: center;
  height: 52px;
  width: 100%;
}
.sx-list{
  margin-top: 8px;
}
.sx-list.second{
  overflow-y: auto;
}
.sx-list i{
  margin-right: 2px;
}

.sx-list ul li {
  margin-top: 12px;
}
.fa-solid.fa-square-plus{
  font-size: 35px;
  
}
.title-sx{
  margin-top: 15px;
  margin-bottom: 8px;
}
.playlist-button{
  align-items: center;
  color: gray;
}
.playlist-button i{
  margin-right: 2px;
}


.toprow{
  position: fixed;
  width: calc(100% - 200px);
  height: 80px;
  flex-direction: row-reverse;
  z-index: 999;
  align-items: center;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.fix-btn{
  color: white;
  font-size: 12px;
  margin-right: 50px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px 25px;
  cursor: pointer;
}

.fix-btn:hover{
  font-size: 13px;
}


.second-list ul a:hover{
  border-bottom: 1px solid greenyellow;
  transition: 0.5s;
  font-size: 11px;
}
.second-list{
  text-align: center;
  margin-top: 50px;
  
}
.second-list ul li{
  margin-top: 50px;
  margin-left: 15px;
  display: inline-block;
  font-size: 10px;
}

.container.d-flex{
  height: calc(100vh - 60px);
}

.col-sx{
  height: calc(100vh - 60px);
  width: 200px;
  padding: 10px;
  position: relative;
  font-size: 13px;
}
.bottom-left{
  position: absolute;
  cursor: pointer;
  color: white;
  bottom: 0;
  left: 10;
  z-index: 999;
}
.bottom:hover{
  border-left: 1px solid greenyellow;
  margin-left: 5px;
  transition: 0.5s;
}
.main{
  width:calc(100% - 200px);
  height: calc(100vh - 60px);
  overflow-y: scroll;
 
}
/* .square-img.d-flex{
  justify-content: space-evenly;
} */

.slot h4{
  margin-bottom: 14px;
  font-size: 20px;
}
.slot span{
  font-size: 9px;
  color: gray;
}
.song-img{
  flex-wrap: wrap;
}

.img-container{
  margin-right: 15px;
  text-align: center;
  position: relative;
}


.overlay{
  opacity: 0;
}
.img-container:hover .overlay{
  opacity: 1;
}
.overlay i{
  color: white;
  font-size: 4vw;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .overlay{
   display: none;
  color: white;
  position: absolute;
  top: 50%;
}  */



.item{
  cursor: pointer;

}

.hover1 img{
 content:"\f144";
}
.item:hover{
  filter: opacity(0.5);
  
}


.img-container p{
  font-size: 12px;
  color: white;
  font-weight: bolder;
  padding-top: 8px;
}
.img-container span{
  font-size: 9px;
  color: gray;
}
.item{
  height: 150px;
  width: 150px;
 
}
.item-radius{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: pointer;
}
.item-radius:hover{
  filter: opacity(0.5);
}

/* footer */
footer{
  height: 60px;
  z-index: 999;
  
}
/* footer parte sinistra */
.f-sx{
  width: 150px;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  
}
.f-img{
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.f-title{
  color: white;
  font-size: 8px;
  cursor: pointer;
}
.f-text{
  color: gray;
  cursor: pointer;
}
.f-sx i{
  cursor: pointer;
}
/* footer parte sinistra */


/* footer parte centrale */
.f-center{
  flex-direction: column;
  align-items: center;
}

.button{
  padding-top:8px;
  align-items: center;
  padding-right: 10px;
  justify-content: center;
}
.button i{
  padding-left: 8px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.music-bar{
  justify-content: space-around; 
  align-items: center;
}
.music-bar span{
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 10px;;
}
.center-volume{
  height: 5px;
  width: 25vw;
  background-color: white;
  border-radius: 20px;
}

/* /footer parte centrale */


/* footer parte destra */
.f-dx{
  justify-content: space-around;
  align-items: center;
}
.f-dx i{
  margin-right: 10px;
  color: white;
  cursor: pointer;
}
.volume-dx{
  width: 80px;
  height: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}


/* media */

@media (max-width:540px){
  .main{
    width: auto;
  }
  .logo{
    background-image: url(img/logo-small.svg);
    height: 40px;
    width: 40px;
  }
  .col-sx{
    width: 60px;
  }
  .mobile-media{
    display: none;
  }
  .bottom-left{
    display: none;
  }
  .btn-mobile{
    display: inline-block;
  }
  
  .sx-list i{
    font-size: 20px;
    padding-left: 10px;
  }
  .second-list ul li{
    font-size: 8px;
  }
  .toprow{
    width: calc(100% - 60px);
  }
  footer i{
    /* width: 490px; */
    font-size: 9px;
    
  }
}
@media (max-width:697px){
  .second-list ul li{
    font-size: 9px;
  }
}
@media (max-width:670px){
  .second-list ul li{
    font-size: 8px;
  }
}
@media (max-width:622px){
  .second-list ul li{
    font-size: 7px;
  }
}